<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="deimos_checkout_shipping_logger"
                type="Deimos\Checkout\Plugin\ShippingInformationLogger"
                sortOrder="10"/>
    </type>
</config>
